/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#main {

}
/* common class */
.white{
    color: #fff !important;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: calc(100%/3);
    
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.text-center{
    text-align: center;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
/*  */
#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
}
#nav > li > a{
    text-transform: uppercase;
    color: #fff;
    padding: 0 24px;
    line-height: 46.5px;
}
#nav li a{
    /* display: inline-block; */
    text-decoration: none;
    display: block;
}
#nav > li:hover > a,
.subnav li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    position: absolute;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
#nav .subnav li{
    display: none;
    
}
#nav li:hover .subnav li{
    display: block;
}
#nav .nav-down{
    font-size: 14px;
}
.subnav a{
    color: #000;
    /* display: block; */
    width: 100%;
    padding: 0 12px;
    line-height: 36.5px;
}
#header .menu{
    display: none;
}
#header .menu,
#header .search{
    float: right;
   padding: 0 21px;
    
}
#header .header-menu,  
#header .header-search{
   color: #fff;
    font-size: 20px;
    line-height: 46px;
}
#header .menu:hover{
    background-color: #ccc;
}
#header .menu:hover .header-menu{
    color: #000;
}
#header .search:hover {
    background-color: red;
    cursor: pointer;
 }
#slider {
    margin-top: 46.5px;
    padding-top: 50%;
    background-image: url("../img/slider/slider2.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

}
#slider .slider-text{
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
}
#slider .headet-text{
    margin: 10px 0 ;
}
#slider .content-text{
    margin: 15px 0 ;
}
#content {

}
#content .content-section{
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
}
#content .section-heading{
    padding: 10px 0;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    padding: 15px 0;
    text-align: center;
    font-style: italic;
    color: #ccc;
}
#content .content-text{
    padding: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}
#content .team-list{
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 32px;
}

#content .member-name{
    margin: 15px 0;
}
#content .member-img{
    width: 154px;
    border-radius: 4px;
}
.tour-tiket{
    background-color: #000;
}
.list-show{
    background-color: #fff;
}
.list-show li{
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.list-show .sold-out{
    background-color: #f44336;
    padding: 2px 8px;
    margin-left: 16px;
    color: #fff;
}
.list-show .quantity{
    float: right;
    width: 25px; height: 25px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    margin-right: 16px;
    text-align: center;
    margin-top: -2px;
    line-height: 25px;
}
.place-list{
    padding: 32px 0;
    background-color: #000;
}

.address-img{
    width: 100%;
    display: block;
}
.place-body{
    background-color: #fff;
    padding: 15px 16px;
    font-size: 15x;
}
.place-heading{
    font-size: 15x;
    margin-bottom: 15px;
}
.place-time{
    margin: 15px 0;
}   
.place-desc{
    margin: 15px 0;
    line-height: 1.4;
}
.buy-tiket-btn{
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 8px 16px;
    margin-bottom: 8px;
    display: inline-block;
}
.buy-tiket-btn:hover{
    color: #000;
    background-color: #ccc;
}
.contact-content{
    padding-top: 40px;
}
.contact-content i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-content .contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.input-control{
    width: 100%;
    border: 1px solid #ccc;
    padding: 11px;
}
.form-submit-btn{
    float: right;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
}
.map img{
    width: 100%;
}
#fotter {
    padding: 64px 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
#fotter i{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
}
#fotter>a{
    text-decoration: none;
}
#fotter>a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#fotter>p>a{
    color: rgba(0, 0, 0, 0.6);
}
#fotter>p{
   margin: 15px 0;
   font-size: 15px;
}
.modal.open{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
    
}
.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: showmodal ease 0.5s;
}
.modal-close{
    position: absolute;
    right: 0;
    color: #fff;
    padding: 14px 12px;
    font-size: 12px;
}
.modal-close:hover,
.form-submit-btn:hover,
.modal-buy-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.modal-header{
    background-color: #009688;
    height: 129px; 
    color: #fff;
    text-align: center;
    line-height: 129px;
    font-size: 30px;
    letter-spacing: 4px;
}
.modal-body{
    padding: 16px ;
}
.modal-lable{
    display: block;
    font-size: 15px;
    margin: 15px 0 5px;
}
.modal-input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.modal-buy-btn{
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    color: #fff;
    background-color: #009688;
    border: none;
}

.need-help{
    font-size: 15px;
    float: right;
    padding : 20px 0 30px;

}
.need-help a{
   color: #2196F3;
}
@keyframes showmodal{
    from{
        transform: translateY(-200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}